%section
  %table
    %tr
      %th=value_header
      %th Count
    - stats.each do |stat|
      %tr
        %td{:class => ['Recipient', 'Sender'].include?(value_header) ? 'person' : ''}
          = stat[1]
        %td= stat[0]
